<link rel="stylesheet" href="/css/header.css">
<nav class="nav_bar_header">
    <div class="nav-cont">
        <img class="img_header" src="img/coxinhaLogo.webp" alt="imagem Header">
        <div>
            <h1 class="titulo_header">Afonso Coxinhas</h1>
            <p class="header_slogan">não é só sobre coxinhas</p>
        </div>
    </div>
    <ul class="lista_header">
        <li class="item_header"><a class="texto-lista-item" href="">Inicio</a></li>
        <li class="item_header"><a class="texto-lista-item" href="">Comprar</a></li>
        <li class="item_header"><a class="texto-lista-item" href="">Sobre</a></li>
    </ul>
</nav>